
pre {
	font-family: 'Helvetica Neue', Roboto, 'Segoe UI', sans-serif;
}

map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}


.img-dest-feature,
.about-logo {
	height: 100%;
}

.row-dest-feature,
.about-logo-container {
	height: 30%;
	text-align: center; 
}

/* inside map info window */
#bodyContent p {
	margin-top: 1em;
}

/* TODO: Figure out a full theme;
body,
.pane,
.item-content,
.content {
	background-color: rgb(228, 230, 231) !important;
}
*/ 

.content {
	padding: 10px;
}

.map-footer {
	padding: 0;
	height: 20%;
}

/* About page */
.about-content {
	padding: 10px;
}
.about-text {
	padding-top: 10px;
}

/* Map page */
.map-content .bar-footer {
	text-align: center !important;
	padding: 0;
	padding-left: 10px;
}
.map-content .bar-footer h4 {
	color: #555 !important;
}
.map-content .bar-footer h4 i {
	color: black !important;
}

/* Ionic style overrides */
.scroll-content {
	/* slightly darker than main content */
	background-color: #d4d6d7 !important;
}
.item,
.item-content,
.about-content,
.detail-content {
	background-color: #e4e6e7 !important;
}
.tabs,
.bar-stable {
	/* slightly lighter than main content */
	background-color: #ebedee !important;	
}
.tab-item-active .icon, .tab-item-active .tab-title {
	color: #851c29;
}
.item {
	border-color: #851c29;
}



