<!--
  This template loads for the 'tab.dest-detail' state (app.js)
  'dest' is a $scope variable created in the DestDetailCtrl controller (controllers.js)
  The DetDetailCtrl pulls data from the Destinations service (service.js)
  The Destinations service returns an array of destination data
-->
<ion-view view-title="{{dest.name}}">
    <ion-content class="content detail-content">
        <div class="row-dest-feature ng-cloak" ng-if="dest.photoUrl">
          <img class="img-dest-feature" ng-src="{{dest.photoUrl}}"/>
        </div>

        <h4>{{dest.address}}, {{dest.hours || "4-8 p.m."}}</h4>
        <pre>{{dest.description || dest.summary}}</pre>
    </ion-content>

    <ion-footer-bar class="map-footer">
      <map on-create="mapCreated(map)" zoom="17" 
        zoom-control="false"
        street-view-control="false"
        map-type-control="false"></map>
    </ion-footer-bar>
</ion-view>
