<ion-view view-title="Corvallis Arts Walk">
  <ion-content class="about-content">
  	<div class="about-logo-container">
  		<img class="about-logo" ng-src="img/caw-logo.jpg"/>
  	</div>
  	<div class="about-text">
  		<p>CAW is a grass-roots organized art walk that takes place on the 3rd Thursday of each month in downtown Corvallis. Galleries, studios, arts/crafts stores and the occasional pop-up keep their doors open late to host an art-related event or demonstration. The walk occurs from 4 to 8&nbsp;p.m.</p>

  		<p>The CAW is supported by our generous sponsors:</p>
  		<div class="about-sponsors">
  			<h4>Holmwell Software</h4>
  			<h4>Brad Johnson Signs</h4>
  			<h4>The Corvallis Advocate</h4>
  			<h4>Hendersons Production Center</h4>
  			
  			<!-- <img class="sponsor-img" src="img/sponsors/hendersons.png"/> -->
  		</div>
  	</div>
  </ion-content>
</ion-view>