<ion-view view-title="Corvallis Arts Walk">
  <ion-content>
    <ion-list>
      <ion-item class="item item-remove-animate item-avatar item-icon-right" ng-repeat="dest in destinations" type="item-text-wrap" href="#/tab/destinations/{{dest.id}}">
        <img ng-src="{{dest.photoUrl || 'img/caw-logo-crow.jpg'}}">
        <h2>{{dest.name}}</h2>
        <h4>{{dest.address}}, {{dest.hours || "4-8 p.m."}}</h4>
        <p>{{dest.summary}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(dest)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
